<html>

<head>
	<style type="text/css">
		table,
		th,
		td,
		tr {
			border-collapse: collapse;
		}

		.DebitNoteTable {
			border: 1px solid black;

		}

		.LoanAcTable {
			border: 1px solid black;
		}

		.DaywiseTable {
			border: 2px solid black;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 10.5pt;
			padding-bottom: 5px;
			/* font-weight: 300; */
		}

		body {
			font-size: 9pt;
		}
	</style>
</head>

<body style="padding-left:20px;padding-top:10px;padding-bottom:10px;padding-right:20px;font-family: Verdana;">
	<table class="MainTable" border="0" width="1024px" rules="none">
		<tr>
			<td>
				<div>
					<img src="<%= ABFLHeader %>" height="150px" width="100%" />
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<p style="padding-left:10px; padding-top: 10px; font-size: 10.5pt">
					<b><%= CBDForDebitNote %></b>
					<br />
					<br />Debit Note No. :<%=InterestDebitData[0].AGREEMENTNO %>




				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="padding-left:10px;padding-top:15px;font-size: 10.5pt">
					<b><%=InterestDebitData[0].CUSTOMERNAME %>



						<br />
					</b>
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="padding-left:10px; padding-top: 10px; font-size: 10.5pt; width: 30%">
					<% if(AddressData[0].ADDRESS1) { %> <%= AddressData[0].ADDRESS1%> <br /> <% } %>
                    <% if(AddressData[0].ADDRESS2) { %> <%= AddressData[0].ADDRESS2%> <br /> <% } %>
                    <% if(AddressData[0].ADDRESS3) { %> <%= AddressData[0].ADDRESS3%> <br /> <% } %>
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="padding-left:10px;padding-top:25px;font-size: 10.5pt">
					Common Client Code : <%=InterestDebitData[0].CIF_NO %>
				</p>
				<p style="padding-left:10px; padding-bottom:10px; padding-top:15px; text-align:center;font-size:19px;">
					<b>Debit Note</b>
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<table width="100%" class="DebitNoteTable">
					<tr class="DebitNoteTable">
						<th class="DebitNoteTable" width="80%" style="padding-top:5px;padding-bottom:5px;">Particulars
						</th>
						<th class="DebitNoteTable" width="20%" style="padding-top:5px;padding-bottom:5px;">Amount (Rs.)
						</th>
					</tr>
					<tr class="DebitNoteTable">
						<td class="DebitNoteTable">Being Interest debited towards loan under LAS facility for :
							<br />
							<br /> Loan A/c No. <%=InterestDebitData[0].AGREEMENTNO %> - Posting Date -
							<%= toDateForDaywise%>
							<br>
						</td>
						<td class="DebitNoteTable" style="text-align:right;padding-top:15px;padding-bottom:5px;">
							<%= interestReceivableAmt ? interestReceivableAmt.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : interestReceivableAmt %>
						</td>
					</tr>
					<tr class="DebitNoteTable">
						<td class="DebitNoteTable"><%=InterestDebitAmtInWords%></td>
						<td class="DebitNoteTable" style="text-align:right;padding-top:15px;padding-bottom:5px;">
							<%= interestReceivableAmt ? interestReceivableAmt.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : interestReceivableAmt %>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<p style="padding-left:10px; padding-top: 5x !important; padding-bottom: 10px;">In addition to above,
					following amounts are payable as on <%=toDateForDaywise%></p>
			</td>
		</tr>
		<tr>
			<td>
				<table width="100%" class="LoanAcTable">
					<tr class="LoanAcTable">
						<th class="LoanAcTable" width="15%">Loan A/c No.</th>
						<th class="LoanAcTable" width="15%">Previous Period
							<br />Interest
							<br />receivable
						</th>
						<th class="LoanAcTable" width="15%">Charges</th>
						<th class="LoanAcTable" width="15%">Overdue Interest</th>
						<th class="LoanAcTable" width="15%">Total</th>
						<th class="LoanAcTable" rowspan=2 width="25%"
							style="text-align:right;padding-top:55px;padding-right:10px;">
							<%= (InterestDebitData[0].PRE_RECEIVABLE_INTEREST_AMT + InterestDebitData[0].CHARGES_AMT + InterestDebitData[0].OVERDUE_INTEREST).toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) %>
						</th>
					</tr>
					<tr class="LoanAcTable" height="60px">
						<td class="LoanAcTable" style="text-align: center;"><%=InterestDebitData[0].AGREEMENTNO %> </td>
						<td class="LoanAcTable" style="text-align: center;">
							<%= InterestDebitData[0].PRE_RECEIVABLE_INTEREST_AMT ? InterestDebitData[0].PRE_RECEIVABLE_INTEREST_AMT.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : InterestDebitData[0].PRE_RECEIVABLE_INTEREST_AMT %></td>
						<td class="LoanAcTable" style="text-align: center;">
							<%= InterestDebitData[0].CHARGES_AMT ? InterestDebitData[0].CHARGES_AMT.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : InterestDebitData[0].CHARGES_AMT %>
						</td>
						<td class="LoanAcTable" style="text-align: center;">
							<%= InterestDebitData[0].OVERDUE_INTEREST ? InterestDebitData[0].OVERDUE_INTEREST.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : InterestDebitData[0].OVERDUE_INTEREST %>
						</td>
						<td class="LoanAcTable" style="text-align: center;">
							<%= (InterestDebitData[0].PRE_RECEIVABLE_INTEREST_AMT + InterestDebitData[0].CHARGES_AMT + InterestDebitData[0].OVERDUE_INTEREST).toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) %>
						</td>

					</tr>
					<tr class="LoanAcTable">
						<td class="LoanAcTable" colspan=5 style="padding-top:10px;padding-bottom: 10px;">Total
							receivable as on <%= toDateForDaywise %></td>
						<td class="LoanAcTable"
							style="text-align: right;padding-top:5px;padding-right:5px;padding-bottom:5px;">
							<b><%= ( InterestDebitData[0].TOTALRECEIVABLE + interestReceivableAmt ).toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></b>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<p style="padding-left:0px; padding-top: 25px !important; padding-bottom: 10px;">You are requested to
					pay the total due amount in below mentioned Bank account.</p>
				<p>Beneficiary Name&nbsp; : <%=InterestDebitData[0].BENE_NAME %></p>
				<p>Bank Account No&nbsp;&nbsp;&nbsp; : <%=InterestDebitData[0].BENE_ACCOUNT_NO %></p>
				<p>Bank Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :
					<%=InterestDebitData[0].BANK_NAME %></p>
				<p>Account Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :
					<%=InterestDebitData[0].ACCOUNT_TYPE %></p>
				<p>Branch Address&nbsp;&nbsp;&nbsp; : <%=InterestDebitData[0].BRANCH_ADDRESS %></p>
				<p>RTGS/NEFT Code&nbsp;&nbsp;&nbsp; : <%=InterestDebitData[0].NEFT_RTGS_CODE %></p>
				<p>
					<b>For ADITYA BIRLA FINANCE LIMITED</b>
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<footer style="padding-top:70px;">
					<img src="<%= ABFLFooter %>" width="100%" height="200px" />
				</footer>
			</td>
		</tr>
	</table>
	<% if(DayWiseData.length > 0) { %>
	<table width="100%" class="DaywiseTable" style="page-break-before: always;margin-top: 30px;">
		<tr class="DaywiseTable">
			<td class="DaywiseTable" style="text-align:center;padding-top:20px;padding-bottom:20px;font-size: 20px;"
				colspan=4>
				<b>Daywise Interest break-up</b>
			</td>
		<tr class="DaywiseTable">
			<th class="DaywiseTable" width="11%" style="padding-top: 5px;">From</th>
			<th class="DaywiseTable" width="23%" style="padding-top: 5px;"><%= fromDateForDaywise %></th>
			<th class="DaywiseTable" width="16%" style="padding-top: 5px;">To</th>
			<th class="DaywiseTable" width="50%" style="padding-top: 5px;"><%= toDateForDaywise %></th>
		</tr>
		<tr class="DaywiseTable">
			<th class="DaywiseTable">Loan A/C No.
				<br>
				<br>
				<br>
			</th>
			<th class="DaywiseTable"><%=DayWiseData[0].AGREEMENTNO %>
				<br>
				<br>
				<br>
			</th>
			<th class="DaywiseTable">Client Name
				<br>
				<br>
				<br>
			</th>
			<th class="DaywiseTable"><%=DayWiseData[0].CUSTOMERNAME %>,
				<br>
				<br>
				<br>
			</th>
		</tr>
		<tr class="DaywiseTable">
			<th class="DaywiseTable">Date</th>
			<th class="DaywiseTable">Outstanding Loan
				<br> Balance(Rs)
			</th>
			<th class="DaywiseTable">Interest Rate (%)</th>
			<th class="DaywiseTable">Interest Charged For The Day (Rs)</th>
		</tr>

		<% 
			var totalInterestAmt = 0;
			for(var i = 0; i < DayWiseData.length; i++) { 
			totalInterestAmt = totalInterestAmt + DayWiseData[i].INTERESTAMT
		%>

		<tr class="DaywiseTable">
			<td class="DaywiseTable" style="padding-left:5px;"><%=DayWiseData[i].PROCESSDATE %></td>
			<td class="DaywiseTable" style="text-align:right;padding-right:4px;">
				<%= DayWiseData[i].OUTSTANDING ? DayWiseData[i].OUTSTANDING.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : DayWiseData[i].OUTSTANDING %>
			</td>
			<td class="DaywiseTable" style="text-align:right;padding-right:4px;"><%= DayWiseData[i].INTRATE ? DayWiseData[i].INTRATE.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : DayWiseData[i].INTRATE %>%</td>
			<td class="DaywiseTable" style="text-align:right;padding-right:4px;">
				<%= DayWiseData[i].INTERESTAMT ? DayWiseData[i].INTERESTAMT.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : DayWiseData[i].INTERESTAMT %>
			</td>
		</tr>

		<% } %>

		<tr>
			<td class="DaywiseTable" style="padding-left:5px;padding-top:10px;padding-bottom:5px;">
				<b>Total</b>
			</td>
			<td class="DaywiseTable"></td>
			<td class="DaywiseTable"></td>
			<td class="DaywiseTable" style="padding-top:10px;padding-bottom:5px;text-align:right;">
				<b><%= totalInterestAmt.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></b>
			</td>
		</tr>
		</tr>
	</table>
	<% } %>
</body>

</html>